body{
  margin:0;
  font-family:sans-serif;
  background:#111;
  color:white;
  text-align:center;
}

canvas{
  background:linear-gradient(#3a7bd5,#3a6073);
  display:block;
  margin:auto;
  border:3px solid white;
}

button{
  padding:10px 20px;
  font-size:18px;
  border:none;
  border-radius:6px;
  background:#ff9800;
  color:white;
}
