body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #4facfe, #00f2fe);
    text-align: center;
}

canvas {
    display: none;
    background: #222;
}

#menu, #gameOver {
    position: absolute;
    width: 100%;
    top: 30%;
    color: white;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    background: orange;
    color: white;
    cursor: pointer;
}

.hidden {
    display: none;
}
